<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<!--  ye sara page replace
ho jyga and iska section ka content replace hokr base html page me chla jyga and and whi page show hga tum title se dekh skte ho 
jb progrm run krwaoge to base page ka title show hga and ye conecpt inhertince of thyeleaf ka h jiske upr seperate vdio bni h   -->
<head>
<meta charset="UTF-8" />
<title>Home Page</title>
</head>
<body>
	<section>
		<h1>This is About page</h1>
		<h2>This data is About Page but due to inheritance its appear on
			base Html page</h2>
	</section>


</body>
</html>