<!doctype html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org" th:replace="base::layout(~{::section})">  <!--  ye sara page replace
ho jyga and is section ka content replace hokr base html page me chla jyga and and whi page show hga tum title se dekh skte ho 
jb progrm run krwaoge to base page ka title show hga and ye conecpt inhertince of thyeleaf ka h jiske upr seperate vdio bni h   -->
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">
<h1 class="font-weight-bold">Smart Conatct Manager</h1>
<p>This is my first web project which is collect the contact very efficient way ,so people is using very smoothly,In this project i 
learned so many things </p>

<button class="btn bg-primary btn-lg text-white"> Get Started</button>
</div>

</section>

	
</body>
</html>