<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<!--  ye sara page replace
ho jyga and iska section ka content replace hokr base html page me chla jyga and and whi page show hga tum title se dekh skte ho 
jb progrm run krwaoge to base page ka title show hga and ye conecpt inhertince of thyeleaf ka h jiske upr seperate vdio bni h   -->
<head>
<meta charset="UTF-8" />
<title>Change Password Form</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12" style="height: 240px;">

							<h3 class="text-center mt-3" >Enter New Password</h3>
							<form method="post" action="" th:action="@{/change-password}">
								<div class="form-group m-2">


									<input name="newpassword" required="required" type="password"
										placeholder="Enter New Password Here !!! " class="form-control" />

									<div class="container text-center mt-3">

										<button class="btn btn-primary mt-4">Change Password</button>
									</div>

								</div>


							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


</body>
</html>
